blinker==1.8.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.7
distlib==0.3.8
filelock==3.16.1
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.1
pandas==2.2.3
platformdirs==4.3.6
pyjokes==0.8.3
pypiwin32==223
python-dateutil==2.9.0.post0
pyttsx3==2.97
pytz==2024.2
pywin32==306
six==1.16.0
tzdata==2024.2
virtualenv==20.26.5
Werkzeug==3.0.4
